{% extends 'base.html' %}
{% block title %}About Page{% endblock %}


{% block body %}
<div class="container">
<div class="row">
    <div class="col-md-12 mt-5">
        <br><br><br>
        <center><h2>About Us</h2></center>
        <br>
        <hr>
        <center><pre><h4>
            Pizza is an Italian food that was created in Italy (The Naples area). It is made with different toppings. 
            Some of the most common toppings are cheese, sausages, pepperoni, vegetables, tomatoes, spices and herbs 
            and basil. These toppings are added over a piece of bread covered with sauce.</h4>
        </pre></center>
    </div>

<div class="col-md-6 mt-5">
    <center><h2>Vision</h2></center>
    <br>
    <hr>
    <center><p>
        <b>Our vision is to lead the internet of food in every neighbourhood.</b> 
    </p></center>
</div>
<br><br>

<div class="col-md-6 mt-5">
    <center><h2>Mision</h2></center>
    <br>
    <hr>
    <center><p>
        <b>Our mission is to redefine convenience by creating inspired food, picked up in three minutes or safely delivered in 10.</b>
    </p></center>
</div>
<br><br>
<center>
<div class="col-md-4 mt-5 shadow pt-5">
<h2 class="text-danger text-center">10000+</h2>
<h2 class="text-center">Happy Customers....</h2>
</div></center>

<br><br>
<center>
<div class="col-md-4 mt-5 shadow pt-5">
<h2 class="text-danger text-center">20000+</h2>
<h3 class="text-center">Ordered Delivered....</h3>
</div></center>

<br><br>
<center>
<div class="col-md-4 mt-5 shadow pt-5">
<h2 class="text-danger text-center">600+</h2>
<h3 class="text-center">Products....</h3>
</div></center>
</div>
</div>
{%  endblock %}