{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block body %}
{% load static %}
<div class="contactUsContainer sectionPadding">
    <div class="getInTouch">
        <div class="right">
            <div class="title">
                Get In Touch
            </div>
            <div class="contents">
                <div class="content">
                    <div class="title">
                        <h4>Address  :</h4>
                    </div>
                    <div class="info">
                        <span>198 West 21th Street
                            Suite 721 New York NY 10016
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h4>Phone  :</h4>
                    </div>
                    <div class="info">
                        <span>
                        <span>000 (123) 456 7890

                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h4>Email  :</h4>
                    </div>
                    <div class="info">
                        <span>pizzajunction@gmail.com
                        </span>
                    </div>
                </div>
                <div class="content">
                    <div class="title">
                        <h4>Website  :</h4>
                    </div>
                    <div class="info">
                        <span>pizzajunction.com
                        </span>
                    </div>
                </div>
                <div class="content socialMedia">
                    <div class="title">
                        <h4>Social Media :</h4>
                    </div>
                    <div class="info">
                        <div class="">
                            <a href="https://www.facebook.com/login.php/"></a><img src="{% static '/images/facebook.png' %}"style='height: 30px;width: 30px;' alt=""></a>
                            <a href="https://www.instagram.com/"><img src="{% static '/images/instagram.png' %}"style='height: 30px;width: 30px;' alt=""></a>
                        <a href="https://twitter.com/?lang=en-in"><img src="{% static '/images/twitter.png' %}"style='height: 30px;width: 30px;' alt=""></a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="left">
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3767.2226105024943!2d72.85333467466882!3d19.229127647148513!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b187b227565b%3A0x6b501cc07463dd16!2sItvedant%20Education%20Pvt%20Ltd%20Borivali!5e0!3m2!1sen!2sin!4v1703416513162!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </span>
    </div>
    <div class="userInputs">
        <div class="title">
            <h3>Contact Us</h3>
        </div>
        <div class="userInputForm">
            <form action="">
                <div class="line line1">
                    <input type="text" placeholder="Your Name*">
                    <input type="text" placeholder="Your Email*">
                </div>
                <div class="line line2">
                    <input type="text" placeholder="Subject">
                </div>
                <div class="line line3">
                    <textarea name="" id="" cols="2" rows="2" placeholder="Your Message"></textarea>
                </div>
                <div >
                    <a href="">
                        <center><button style="background-color: goldenrod;" type="button"><h3>Submit</h3></button></center>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
















